.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heading {
  color: #D3D3D3;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.search-box {
  margin: 20px 0;
}

.document {
  border-bottom: 2px solid #bbb;
  margin-bottom: 10px;
}

.list-view {
  width: 70%;
  border: 3px solid #000;
}

.list-view-none {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
